.displayGrid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-spacing);
}

.displayPreview {
    display: flex;
    width: 100%;
    gap: var(--card-spacing);
    overflow: scroll;
    overflow-y: hidden;
    padding: var(--preview-padding-top-bottom);
}