.detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
}

.detail p {
    margin: 0;
}

.profile-picture {
    width: 20rem;
    height: 20rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    padding: 0;
    align-self: center;
    text-align: center;
}