.searchBarContainer {
    display: flex;
    position: relative; /* Anchor dropdown */
    width: auto;
    justify-content: center;
    align-items: center;
}

.searchButton {
    border-radius: 0 var(--rounding-gentle-radius) var(--rounding-gentle-radius) 0;
}

.searchBar {
    flex: 1;
    border-radius: var(--rounding-gentle-radius) 0 0 var(--rounding-gentle-radius);
}