.field-error {
    color: red;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field-horizontal {
    display: flex;
    flex-direction: row;
}

.form-field em {
    color: darkred;
    font-weight: bold;
}

.checkbox {
    flex-direction: row;
    gap: 1rem;
}

.datetime-local {

}