.filtersBox {
    display: flex;
    align-items: center;
    gap: var(--filter-items-spacing);
    border: solid var(--box-border-weight) var(--color-primary);
    padding: var(--box-padding);
    border-radius: var(--box-border-radius);
    background-color: var(--color-purple-white);
}

.pills {
    display: flex;
    list-style: none;
    gap: var(--filter-items-spacing);
}