.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);

    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    align-items: center;
    padding: calc((var(--navbar-height) * .25) / 2);
}

.navBar .links {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1rem;
    list-style: none;
}

.navBar a {
    border-radius: 4px;
    font-size: 20px;
}

.navBar a:visited {
    color: inherit;
}

.navBar a:hover {
    color: var(--color-accent-mint-green);
}

.navBar a:focus {
    outline-color: var(--color-accent-mint-green);
}

.navBar .links * {
    text-decoration: none;
}

.nav-icon {
    display: flex;
    align-items: center;
    height: 100%;
    width: var(--navbar-height);
}

.home-icon {
    justify-content: flex-start;
}

.profile-icon {
    justify-content: flex-end;
}

.nav-icon img {
    display: block;
    height: var(--navbar-icon-max-width);
    aspect-ratio: 1/1;
    border: solid var(--color-accent-mint-green) var(--button-border-weight);
    border-radius: 50%;
}

.nav-icon img:hover {
    height: var(--navbar-height);
}