.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    background-color: orange;
    align-items: center;
}

.navBar .links {
    align-self: center;
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 1rem;
    list-style: none;
}

.navBar .links * {
    text-decoration: none;
}

.home-icon img,
.profile-icon img {
    display: block;
    max-width: 3rem;
}