.in-line-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.in-line-form label, .in-line-form button {
    flex: 0 0 auto;
}

.in-line-form input {
    flex: 1 1 0;
    min-width: 6rem;
}