.pill {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
    color: var(--color-white);
    border-radius: var(--rounding-pill);
    padding: 7px;
}

.deletePill {
    background-color: transparent;
    border: none;
    color: var(--color-white);
}