.pill * {
    color: var(--color-accent-mint-green);
}
.pill {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--small-button-height);
    background-color: var(--color-accent-dark-red);
    border-radius: var(--rounding-pill);
    padding: 0 0 0 8px;
    font-weight: var(--button-font-weight);
}

.deletePill {
    background-color: transparent;
    padding: 0;
    aspect-ratio: 1/1;
    border: none;
}

.deletePill:hover {
    background-color: transparent;
    color: var(--color-accent-mint-green);
    border: none;
    font-size: 24px;
}