.page-container {
    padding-top: 60px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-accent-mint-green);
}