@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Button
    4. Form
    5. Input
    6. Category Box
///////////////////////////
-------------------------*/

/* ------------------------------- 1. Global Styles -------------------------------- */
:root {
    --color-primary: orange;
    --color-secondary: #c3c1c1;
    --color-tertiary: black;
    --color-accent-dark-red: #bc6262;
    --color-accent-light-red: #f0c0c0;
    --color-accent-mint-green: #B2FFE0;
    --color-accent-dark-mint: #86c2aa;
    --color-purple-white: #F7E9F9;
    --color-error-background: red;
    --color-success-background: var(--color-primary);

    --icon-width: 32px;
    --navbar-height: 60px;
    --navbar-icon-max-width: calc(var(--navbar-height) * .75);

    --rounding-gentle-radius: 8px;
    --rounding-pill: 50px;

    --box-border-weight: 4px;
    --box-border-radius: 16px;
    --box-padding: 10px;

    --input-border-weight: 3px;
    --input-height: 24px;
    --button-border-weight: 3px;
    --button-height: var(--input-height);

    --card-spacing: 48px;
    --card-width: 100%;
    --card-height: 100%;
    --preview-padding-top-bottom: 8px;

    --filter-items-spacing: 10px;

    --user-image-width: 160px;
    --user-image-height: 160px;

    --small-card-scale-factor: .5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

*:focus {
    outline: solid var(--color-accent-dark-red) 4px;
}

/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family: Quicksand, sans-serif;
    color: var(--color-tertiary);
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 4em;
    font-weight: 700;
}

h3 {
    font-size: 3em;
    font-weight: 600;
}

h4 {
    font-size: 2em;
    font-weight: 600;
}

ul, ol {
    padding: 0;
    margin: 0;
}


/* ------------------------------- 3. Button ----------------------------------- */
button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, sans-serif;
    border: solid var(--color-accent-dark-red) var(--button-border-weight);
    border-radius: 50px;
    padding: 8px 32px;
    background-color: var(--color-accent-dark-red);
    color: var(--color-accent-mint-green);
    font-weight: 800;
    letter-spacing: .24em;
    cursor: pointer;
    height: var(--button-height);
}

button:hover {
    background-color: var(--color-accent-mint-green);
    color: var(--color-accent-dark-red);
    border: solid var(--color-accent-dark-red) var(--button-border-weight);
}

.small-button {
    padding: 8px 20px;
    height: 32px;
}

/* ------------------------------- 4. Form ----------------------------------- */
.create-form, .login-form, .change-form {
    border: solid var(--box-border-weight) var(--color-tertiary);
    border-radius: var(--box-border-radius);
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    max-width: 100rem;
    gap: 1rem;
    padding: var(--box-padding);
    background-color: var(--color-purple-white);
}

/* ------------------------------- 5. Input ----------------------------------- */
input {
    border-radius: var(--rounding-gentle-radius);
    border: solid var(--color-tertiary) var(--input-border-weight);
    padding: 4px;
    height: var(--input-height);
}

input[type="file"] {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.custom-file-upload {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, sans-serif;
    border: solid var(--color-accent-dark-red) var(--button-border-weight);
    border-radius: 50px;
    padding: 8px 32px;
    background-color: var(--color-accent-dark-red);
    color: var(--color-accent-mint-green);
    font-weight: 800;
    letter-spacing: .24em;
    cursor: pointer;
    height: var(--button-height);
}

.custom-file-upload:hover {
    background-color: var(--color-accent-mint-green);
    color: var(--color-accent-dark-red);
    border: solid var(--color-accent-dark-red) var(--button-border-weight);
}

input:hover {
    background-color: var(--color-accent-light-red);
}

input:focus, button:focus {
    outline: solid var(--color-accent-dark-mint) 4px;
}


/* ------------------------------- 6. Category Box ----------------------------------- */
.categoryBox {
    display: flex;
    flex-direction: column;
    gap: var(--card-spacing);
}

.categoryPage {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.categoryHeader {
    display: flex;
    justify-content: space-between;
}