@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
:root {
    --color-primary: orange;
    --color-secondary: #c3c1c1;
    --color-tertiary: black;
    --color-accent-dark-red: #bc6262;
    --color-accent-mint-green: #B2FFE0;
    --color-white: #F7E9F9;
    --color-error-background: red;
    --color-success-background: var(--color-primary);

    --rounding-gentle: 6px;
    --rounding-pill: 50px;

    --card-spacing: 48px;
    --card-width: 350px;
    --card-height: 218px;

    --filter-items-spacing: 10px;

    --user-image-width: 160px;
    --user-image-height: 160px;

    --small-card-scale-factor: .5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, sans-serif;
    border: none;
    border-radius: 50px;
    padding: 8px 32px;
    background-color: var(--color-accent-dark-red);
    color: var(--color-accent-mint-green);
    font-weight: 800;
    letter-spacing: .24em;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-accent-mint-green);
    color: var(--color-accent-dark-red);
}

.small-button {
    padding: 8px 20px;
    height: 32px;
}

body {
    font-family: Quicksand, sans-serif;
}

/* ------------------------------- 2. Typography ----------------------------------- */
h1 {
    font-size: 6em;
}

h2 {
    font-size: 4em;
    font-weight: 700;
}

h3 {
    font-size: 3em;
    font-weight: 600;
}

h4 {
    font-size: 2em;
    font-weight: 600;
}

ul, ol {
    padding: 0;
    margin: 0;
}