#root {
    display: flex;
    flex-direction: column;
}

:root {
    --color-primary: orange;
    --color-secondary: #c3c1c1;
    --color-tertiary: black;
    --color-accent: #bc6262;
    --color-white: white;
    --color-error-background: red;
    --color-success-background: green;

    --rounding-gentle: 6px;
    --rounding-pill: 50px;
    --card-spacing: 48px;
    --filter-items-spacing: 10px;
}

ul, ol {
    padding: 0;
    margin: 0;
}