.info-box {
    border: solid var(--color-primary) 3px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--color-white);
}

.info-header {
    display: flex;
    justify-content: space-between;
}