.info-box-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 12px;
    gap: var(--card-spacing);
}

.info-box {
    border: solid var(--color-primary) var(--box-border-weight);
    border-radius: var(--box-border-radius);
    display: flex;
    flex-direction: column;
    padding: var(--box-padding);
    background-color: var(--color-purple-white);
    gap: 1em;
}

.info-header {
    display: flex;
    justify-content: space-between;
}

[class*='-info'] {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-box li {
    list-style: none;
}

.info-group {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.left {
    flex-grow: 4;
}

.right {
    flex-grow: 0;
}