.card {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--card-width);
    height: var(--card-height);
    aspect-ratio: var(--card-width) / var(--card-height);
    padding: 20px 10px;
    border-radius: var(--rounding-gentle);
    gap: 1rem;
}

.card ul {
    list-style-type: none;
}

.card {
    color: var(--color-tertiary);
    text-decoration: none;
}

.event li ul {
    list-style-type: circle;
}

.card .placeholder {
    background-color: var(--color-primary);
    border-radius: var(--rounding-gentle);
}

/* Placeholder specs */
.event .placeholder {
    width: 160px;
    height: 100%;
}

.game .placeholder {
    height: 160px;
    width: 320px;
}

.user .placeholder {
    aspect-ratio: 1 / 1;
    flex: 0 0 auto;
    width: var(--user-image-width);
    border-radius: 50%;
}

.card--small {
    width: 200px;
    padding: 12px 8px;
    gap: 0.5rem;
    font-size: 0.85rem;
}

.card--small .placeholder {
    width: calc(var(--user-image-width) * var(--small-card-scale-factor));
}

.game, .user {
    flex-direction: column;
    align-items: center;
}

.event ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
