.card {
    background-color: var(--color-secondary);
    display: flex;
    max-width: 920px;
    height: 218px;
    padding: 20px 10px;
    border-radius: var(--rounding-gentle);
    gap: 1rem;
}

.card ul {
    list-style-type: none;
    text-align: left;
}

.game ul {
    text-align: center;
}

.event li ul {
    list-style-type: circle;
}

.card .placeholder {
    background-color: var(--color-primary);
    border-radius: var(--rounding-gentle);
}

/* Placeholder specs */
.event .placeholder {
    width: 160px;
}

.game .placeholder {
    height: 160px;
    width: 320px;
}

.user .placeholder {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.game, .user {
    flex-direction: column;
    justify-content: center;
}